body {
  background-color: rgb(23, 23, 23);
  color: white;
  text-align: center;
}

p {
  font-style: italic;
  font-size: 2rem;
}

span {
  text-transform: uppercase;
  color: rgb(159, 159, 159);
}
