/* CSS RESET  */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

/* LAYOUT */

body {
  padding: 1rem;
  font-family: "Hind", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 1rem;
}

/* BODY  */

.flex-container {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
}

article img {
  width: 600px;
  float: left;
}
